<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-200">
    <div class="max-w-7xl mx-auto pt-16 pb-8 px-4 sm:pt-24 sm:pb-12 sm:px-6 lg:px-8 lg:flex lg:justify-between">
        <div class="max-w-xl">
            <h2 class="text-4xl font-extrabold text-black sm:text-5xl sm:tracking-tight lg:text-6xl">{{ title }}</h2>
            <p class="mt-5 text-xl text-gray-400">{{ description }}</p>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 pb-20 px-4 sm:px-6">
        {% for item in items %}
            <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                <div class="flex-shrink-0">
                    {{ heroIcons.documentDownload.documentDownload }}
                </div>
                <div class="flex-1 min-w-0">
                    <a href="{{ item.url }}" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <p class="text-sm font-medium text-gray-900">
                            {{ item.title }}
                        </p>
                        <p class="text-sm text-gray-500">
                            {{ item.description }}
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

