<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Products</h2>

        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-4 lg:gap-x-8">

            {% for card in cards %}
                <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden">
                    <div class="aspect-w-1 aspect-h-2 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
                        <img src="{{card.image}}" alt="{{card.imageAlt}}" class="w-full h-full object-center object-cover sm:w-full sm:h-full">
                    </div>
                    <div class="flex-1 p-4 space-y-2 flex flex-col">
                        <h3 class="text-sm font-medium text-gray-900">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{card.title}}
                            </a>
                        </h3>
                        <p class="text-sm text-gray-500">{{card.description}}</p>
                        <div class="flex-1 flex flex-col justify-end">
                            {% if card.subtitle %}
                                <p class="text-sm italic text-gray-500">{{card.subtitle}}</p>
                            {% endif %}
                            {% if card.price %}
                                <p class="text-base font-medium text-gray-900">{{card.price}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {%endfor%}

            <!-- More products... -->
        </div>
    </div>
</div>
