---
title: 'Contrata tu Seguro de Riesgos Cibernéticos'
layout: base
permalink: 'seguro-riesgos-ciberneticos-ad/index.html'
---



{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/landing-page/cyber1.jpg"
        alt:"Candado en flyer seguro de riesgos cibernéticos"
        highlight:"Seguro de Riesgos Cibernéticos PYMES"
        title:"¿Por qué contratar un seguro de Riesgos Cibernéticos?"
        paragraph:"Para  evitar pérdidas en tu empresa ocasionadas, no sólo por responsabilidad frente a terceros, sino también eventos propios de la operación día a día de tu negocio.<br><br>¡Permítenos proteger tu empresa!</br></br>"
        button_1:"Contáctanos"
        buttonURL: "#contact-form"
%}

{% include ../_includes/partials/pricing-sections/single-price-spp.html,
main_title:"Protégete y asegura"
        main_title_extra:"tu información y la de tus clientes"
        main_paragraph:"Por ello es importante que cubras a tu empresa de cualquier tipo de riesgo. Estamos conscientes que con motivo de su actividad profesional tienen datos electrónicos y que, por robo, pérdida, comunicación y/o divulgación no autorizada de los mismos causen daños a terceros, daños a su propia operación o sean sujetos de multas por parte de la autoridad."
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:"Pérdidas Causadas a Terceros"
        seronepris: seronepris.RCA
%}


{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/landing-page/cyber2.jpg"
        alt:"Lista de assets seguro riesgos cibernéticos"
        mainTitle:"<i>Y lo mejor</i> al contratar la póliza te <i>obsequiamos</i> los siguientes beneficios:"
        contentHTML: '
    <ul role="list">
    <li>Recibirás un boletín de noticias respecto a vulnerabilidades detectadas globalmente.</li>
    <li>Realizamos un análisis en fuentes abiertas, en donde se tendrá una detección de algún ciberamenaza  y pueda  ocasionar una pérdida o daño en la Organización.</li>
    <li>Academia de ciberseguridad donde cursarán 15 módulos del programa de concientización en ciberseguridad en tu negocio.</li>
    </ul>
    <p><i>En todo momento tendrás el respaldo de una empresa especializada en soluciones de ciberseguridad innovadoras e integrales para salvaguardar los activos más estratégicos en tu empresa.</i></p>
    '
%}


<section class="relative bg-white" aria-labelledby="contact-heading">
    <div class="absolute w-full h-1/2 bg-warm-gray-50" aria-hidden="true"></div>
    <div id="contact-form" class="max-w-7xl mx-auto">
        <div class="relative bg-white shadow-xl">
            <h2 id="contact-heading" class="sr-only">Contáctanos</h2>

            <div class="grid grid-cols-1 lg:grid-cols-3">
                <!-- Contact information -->
                <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-{{ settings.highlightColor }}-500 to-{{ settings.highlightColor }}-600 sm:px-10 xl:p-12">
                    <!-- Decorative angle backgrounds -->
                    <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                        <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1"></path>
                            <defs>
                                <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
                        <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1"></path>
                            <defs>
                                <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                        <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1"></path>
                            <defs>
                                <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff"></stop>
                                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <h3 class="text-lg font-medium text-white">¡Contrata ya tu Seguro de Riesgos Cibernéticos!</h3>
                    <p class="mt-6 text-base text-{{ settings.highlightColor }}-50 max-w-3xl">Únicamente llena el siguiente formulario y nosotros nos contactaremos contigo a la brevedad. ¡Protege a tu PyME, ya!</p>
                </div>

                <!-- Contact form -->
                <div
                        class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12"
                        x-data="{}"
                >
                    <h3 class="text-lg font-medium text-warm-gray-900">Completa el formulario</h3>
                    <form
                        action="/exito"
                        method="POST"
                        class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
                        data-netlify="true"
                        novalidate
                        data-validation='needs-validation'
                        name="riesgos-ciberneticos-camp"
                    >
                        <style type="text/css" scoped>
                            .was-validated .validation-feedback {
                                visibility: visible;
                            }

                            .validation-feedback {
                                visibility: hidden;
                            }
                        </style>
                        <div>
                            <label for="first-name" class="block text-sm font-medium text-warm-gray-900">Nombre</label>
                            <div class="mt-1 relative">
                                <input
                                        type="text"
                                        name="Nombre"
                                        id="first-name"
                                        autocomplete="given-name"
                                        class="py-3 px-4 block w-full shadow-md text-warm-gray-900 focus:ring-{{ settings.highlightColor }}-500 focus:border-{{ settings.highlightColor }}-500 border-warm-gray-300 rounded-md"
                                        required
                                >
                                <div class="validation-feedback absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    {{heroIcons.solidExclamationCircle}}
                                </div>
                            </div>
                            <p class="validation-feedback mt-2 text-sm text-red-600" id="email-error">Escribe tu nombre.</p>
                        </div>
                        <div>
                            <label for="last-name" class="block text-sm font-medium text-warm-gray-900">Apellido</label>
                            <div class="mt-1">
                                <input
                                        type="text"
                                        name="Apellido"
                                        id="last-name"
                                        autocomplete="family-name"
                                        class="py-3 px-4 block w-full shadow-md text-warm-gray-900 focus:ring-{{ settings.highlightColor }}-500 focus:border-{{ settings.highlightColor }}-500 border-warm-gray-300 rounded-md"
                                >
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="email" class="block text-sm font-medium text-warm-gray-900">Correo Electrónico</label>
                            <div class="mt-1 relative">
                                <input
                                        id="email"
                                        name="email"
                                        type="email"
                                        autocomplete="email"
                                        class="py-3 px-4 block w-full shadow-md text-warm-gray-900 focus:ring-{{ settings.highlightColor }}-500 focus:border-{{ settings.highlightColor }}-500 border-warm-gray-300 rounded-md"
                                        required
                                >
                                <div class="validation-feedback absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    {{heroIcons.solidExclamationCircle}}
                                </div>
                            </div>
                            <p class="validation-feedback mt-2 text-sm text-red-600" id="email-error">Escribe tu dirección de correo electrónico.</p>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="phone" class="block text-sm font-medium text-warm-gray-900">Teléfono</label>
                            <div class="mt-1 relative">
                                <input
                                        id="phone"
                                        name="Telefono"
                                        type="tel"
                                        class="py-3 px-4 block w-full shadow-md text-warm-gray-900 focus:ring-{{ settings.highlightColor }}-500 focus:border-{{ settings.highlightColor }}-500 border-warm-gray-300 rounded-md"
                                >
                            </div>
                        </div>
                        <div class="sm:col-span-2 sm:flex sm:justify-end">
                            <button type="submit" class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-{{ settings.highlightColor }}-500 hover:bg-{{ settings.highlightColor }}-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{ settings.highlightColor }}-500 sm:w-auto">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</section>
